{% extends 'base.html.twig' %} {% block title %}
  Holidays Application
{% endblock %} {% block body %}
  <div class="container">
    <div class="row">
      <nav>
        MAIN
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="row">
          <div class="head">
            <!-- <span>Search :</span> -->
          </div>
        </div>
        <div class="row">
          <!-- Default form subscription -->
          <form class="text-center border border-light p-5"
            action="http://localhost:8888/Applications/Holidays/public/">
            <h1 class="h4 mb-4">
              Holidays Application
            </h1>

            <p>
              Below are lists of public holidays by country or region.
            </p>
            <p>
              Search between states by region and year
            </p>

            <!-- Country -->
            <select name="country" multiple class="form-control" id="sel2">
              {# <option value="">...</option> #}
              {% for i in country %}
                {% if name[0] == i[0] %}
                  <option value="{{ i[0] }}" class="active" selected>
                    {{ i[1] }}
                  </option>
                {% else %}
                  <option value="{{ i[0] }}">
                    {{ i[1] }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <!-- Years -->
            <select name="year"
              class="form-control"
              id="exampleFormControlSelect1">
              {% for i in yearRegion[1] %}
                {% if yearRegion[0] == i %}
                  <option value="{{ i }}" class="active" selected>
                    {{ i }}
                  </option>
                {% else %}
                  <option value="{{ i }}">
                    {{ i }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            {% if region is empty %}

            {% else %}
              <select name="region"
                class="form-control"
                id="exampleFormControlSelect1">
                {% for i in region %}
                  {% if yearRegion[2] == i %}
                    <option value="{{ i }}" selected>
                      {{ i }}
                    </option>
                  {% else %}
                    <option value="{{ i }}">
                      {{ i }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            {% endif %}

            <!-- FIND -->

            <button class="btn btn-info btn-block" type="submit">Find</button>
          </form>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="result">
          <h4>
            Holidays in this Country: {{ name[1] }}
          </h4>
          <div class="date">Today is: {{status[1]}} | {{status[2]}}</div>
          {% if status > 0 %}
            <p>
              Found {{ status[0] }} public holidays in {{ name[1] }}
            </p>
          {% endif %}
        </div>
        <div class="row">
          {% for i in holidays %}
            <div class="container-fluid">
              <h5>
                {{ i[0] }}
              </h5>
              <span>
                {{ i[1]['year'] }}.{{ i[1]['month'] }}.{{ i[1]['day'] }}
              </span>
            </div>
          {% endfor %}

          {% if holidays is empty %}
            <div class="alert warr" role="alert">
              Select a region
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
